header {
  .header-item {
    padding: 20px 0;

    &-list {
      font-size: 18px;
      height: 100%;
      width: 100%;
      color: #2b2e4a;
      ol:hover {
        color: #6db3ee;
        transition: all .2s;
      }
    }

    &-favorite {
      padding: 0px 10px;
    }

    &-button {
      background-color: #6db3ee;
      border-radius: 100px;
      padding: 0px 15px;
    }
  }
}

.active {
  color: #6db3ee;
}