a {
  color: unset;
  text-decoration: unset;
}

ol {
padding: 0;
}

header {
  .header-item {
    padding: 20px 0;

    &-list {
      font-size: 18px;
      height: 100%;
      width: 100%;
      color: #2b2e4a;
      ol:hover {
        color: #6db3ee;
        transition: all .2s;
      }
    }

    &-favorite {
      padding: 0px 10px;
    }

    &-button {
      background-color: #6db3ee;
      border-radius: 100px;
      padding: 0px 15px;
    }
  }

  .burger-menu {
    .burger-icon {
      font-size: 30px;
      color: #6db3ee;
    }
    
    .open {
      display: block;
    }

    &-nav {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px 50px;
      background-color: #fff;
      z-index: 1;
      height: 100%;
      -webkit-box-shadow: -13px 0px 20px -14px rgba(0,0,0,0.75);
      -moz-box-shadow: -13px 0px 20px -14px rgba(0,0,0,0.75);
      box-shadow: -13px 0px 20px -14px rgba(0,0,0,0.75);
      display: none;
      ul {
        margin-top: 30px;
        ol {
          padding: 5px 0;
          font-size: 20px;
        }
      }
      .burger-close {
        font-size: 30px;
        color: #6db3ee;
      }

     
    }
  }
}

.active {
  color: #6db3ee;
}