p {
  margin: 0;
}

.landing {
  padding: 100px 0;
  &-image {
    img {
      width: 100%;
      border-radius: 50px;
    }

    &-text {
      position: absolute;
      width: 65%;
      height: 100%;
      font-size: 96px;
      color: #fff;
      text-transform: capitalize;
      font-weight: bold;

      @media only screen and (max-width: 990px) {
        font-size: 35px;
      }

      @media only screen and (max-width: 600px) {
        font-size: 30px;
      }

      @media only screen and (max-width: 320px) {
        font-size: 25px;
      }
    }
  }
}

.title {
    text-transform: capitalize;
    &-top {
      padding: 10px;
      border: 2px solid #2b2e4a;
      border-radius: 20px;
      color: #2b2e4a;
      &:hover {
        color: #fff;
        background-color: #2b2e4a;
        transition: all .3s;
        img {
          filter: invert(100%) sepia(6%) saturate(3%) hue-rotate(1deg) brightness(105%) contrast(100%);
        }
        p {
            color: #fff;
        }
      }
      img {
        width: 50px;
      }
      p {
        color: #103758A8;
        padding: 0px 10px;
        font-size: 18px;
      }
    }

    &-bottom {
      h4 {
        color: #103758;
        font-size: 40px;
        padding: 15px 0;
        font-weight: 700;
      }

      p {
        font-size: 16px;
      }
    }
}

.team {
  padding: 30px 0;

  &_card {
    border: 2px solid #0000001a;
    border-radius: 10px;
    margin-top: 10px;

    &-image {
      position: relative;
      padding: 10px 0;
      img {
        width: 100%;
      }
      &-job {
        height: 100%;
        position: absolute;
        padding: 10px 15px;
        bottom: 0;
        &_item {
          img {
            width: 25px;
            height: 50px;
          }
          p {
            padding: 0px 10px;
          }
        }
      }
    }

    &-text {
      padding: 10px 0;
      color: #2b2e4a;
    }
  }
}

.testimonials {
    padding: 50px 0;
    .user {
        border: 2px solid #0000001a;
        border-radius: 20px;
        padding: 50px;
        &-top {
            img {
                border-radius: 50%;
                width: 100px;
            } 
        }
        &-name {
            padding: 0px 40px;
            h5,p {
                font-size: 15px;
            }
        }
    }
}