a {
  color: unset;
  text-decoration: unset;
}

ol {
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.landing {
  padding: 50px 0;
}
.landing-image img {
  width: 100%;
}
.landing-image-text {
  position: absolute;
  width: 65%;
  height: 100%;
  font-size: 63px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
@media only screen and (max-width: 990px) {
  .landing-image-text {
    font-size: 35px;
  }
}
@media only screen and (max-width: 600px) {
  .landing-image-text {
    font-size: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .landing-image-text {
    font-size: 15px;
  }
}
.landing-search {
  width: 95%;
}
.landing-search-bottom {
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
}
.landing-search-bottom input {
  border: none;
  padding: 0px 10px;
  width: 100%;
}
.landing-search-bottom input::-moz-placeholder {
  color: #2b2e4a;
}
.landing-search-bottom input::placeholder {
  color: #2b2e4a;
}

.cards {
  padding-bottom: 40px;
}
.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
  font-size: 22px;
  max-width: 250px;
  width: 100%;
  margin-top: 15px;
}
.cards__item:hover {
  color: #fff;
  background-color: #2b2e4a;
  transition: all 0.3s;
}
.cards__item:hover img {
  filter: invert(100%) sepia(6%) saturate(3%) hue-rotate(1deg) brightness(105%) contrast(100%);
}
.cards__number {
  font-weight: bold;
  font-size: 48px;
}

.uploads {
  padding: 50px 0;
}
.uploads__text {
  font-size: 16px;
  color: rgba(43, 46, 74, 0.8509803922);
}
.uploads__text-title {
  font-size: 30px;
  color: #2B2E4A;
  font-weight: 600;
}
.uploads__card {
  border: 2px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
  margin-top: 10px;
}
.uploads__card p {
  margin: auto;
}
.uploads__card-image {
  position: relative;
  padding: 10px 0;
}
.uploads__card-image .imgg img {
  width: 100%;
}
.uploads__card-info {
  position: absolute;
  bottom: 0;
  color: #fff;
  height: 100%;
  width: 100%;
}
.uploads__card-info img {
  filter: invert(100%) sepia(6%) saturate(3%) hue-rotate(1deg) brightness(105%) contrast(100%);
}
.uploads__card-info .info_item {
  display: flex;
  align-items: center;
  padding: 20px 5px;
}
.uploads__card-info .info_item p {
  padding: 0 5px;
}
.uploads__card-info .info_item-favorite {
  background-color: rgba(0, 0, 0, 0.1607843137);
  color: #fff;
  border-radius: 100px;
  margin: 15px;
}
.uploads__card-info .info_item-favorite img {
  padding: 10px;
  width: 100%;
}
.uploads__card-text {
  padding: 10px 0;
  color: #2B2E4A;
}
.uploads__card-text-price {
  font-weight: 500;
  font-size: 28px;
  padding: 10px 0;
}
.uploads__card-text-description {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
  width: 100%;
}
.uploads__card-text-location {
  display: flex;
  justify-content: start;
  padding: 20px 0;
  color: #6DB3EE;
}
.uploads__card-text-location p {
  margin: 0 5px;
}

.cities {
  padding: 50px 0;
}
@media only screen and (max-width: 800px) {
  .cities {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cities-title {
  padding: 20px 0;
  font-size: 30px;
  color: #2B2E4A;
  font-weight: 600;
}
.cities-items .cities-item {
  padding-bottom: 30px;
}
.cities-items .cities-item-img {
  position: relative;
}
@media only screen and (max-width: 800px) {
  .cities-items .cities-item-img {
    margin-top: 15px;
  }
}
.cities-items .cities-item .city-title {
  font-size: 24px;
  padding: 0px 5px;
}
.cities-items .cities-item-text {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 0 10px;
  text-transform: capitalize;
  width: 380px;
}
.cities-items .cities-item-text p {
  padding: 5px 15px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-radius: 100px;
}/*# sourceMappingURL=home.css.map */