a {
  color: unset;
  text-decoration: unset;
}

ol {
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
}

header {
  .header-item {
    padding: 20px 0;
    &-list {
      font-size: 18px;
      height: 100%;
      width: 100%;
      color: #2b2e4a;
    }

    &-favorite {
      padding: 0px 10px;
    }

    &-button {
      background-color: #6db3ee;
      border-radius: 100px;
      padding: 0px 15px;
    }
  }
}

.landing {
  padding: 50px 0;
  &-image {
    img {
      width: 100%;
    }

    &-text {
      position: absolute;
      width: 65%;
      height: 100%;
      font-size: 63px;
      color: #fff;
      text-transform: capitalize;
      font-weight: bold;
      @media only screen and (max-width: 990px) {
        font-size: 35px;
      }
      @media only screen and (max-width: 600px) {
        font-size: 25px;
      }
      @media only screen and (max-width: 320px) {
        font-size: 15px;
      }
    }
  }

  &-search {
    width: 95%;
    &-bottom {
      margin-top: 20px;
      padding: 20px;
      border-radius: 30px;
      input {
        border: none;  
        padding: 0px 10px;
        width: 100%;
        &::placeholder {
          color: #2b2e4a;
        }
      }
    }
  }
}

.cards {
  padding-bottom: 40px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    border: 2px solid #0000001A;
    border-radius: 10px;
    font-size: 22px;
    max-width: 250px;
    width: 100%;
    margin-top: 15px;
    &:hover{
      color: #fff;
      background-color: #2b2e4a;
      transition: all .3s;
      img {
        filter: invert(100%) sepia(6%) saturate(3%) hue-rotate(1deg) brightness(105%) contrast(100%);
      }    
    }
  }

  &__number{
    font-weight: bold;
    font-size: 48px;
  }
}

.uploads {
  padding: 50px 0;
  &__text {
    font-size: 16px;
    color: #2B2E4AD9;
    &-title {
      font-size: 30px;
      color: #2B2E4A;
      font-weight: 600;
    }
  }

  &__card {
    border: 2px solid #0000001A;
    border-radius: 10px;
    margin: 10px;
    p {
      margin: auto;
    }

    &-image {
      position: relative;
      padding: 10px 0;
      
      .imgg{
        img {
          width: 100%;
        }
      }
  
    }

    &-info {
      position: absolute;
      bottom: 0;
      color: #fff;
      height: 100%;
      width: 100%;
      img {
        filter: invert(100%) sepia(6%) saturate(3%) hue-rotate(1deg) brightness(105%) contrast(100%);
      }
      .info_item {
        display: flex;
        align-items: center;
        padding: 20px 5px;
        p {
          padding: 0 5px;
        }

        &-favorite {
          background-color: #000;
          color: #fff;
          opacity: 0.2;
          border-radius: 100px;
          margin: 15px;
          img {
            padding: 10px;
            width: 100%;
          }
        }
      } 
    }
   
    &-text {
      padding: 10px 0;
      color: #2B2E4A;
      &-price {
        font-weight: 500;
        font-size: 28px;
        padding: 10px 0;
      }

      &-description{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 70px;
        width: 100%;
      }

      &-location {
        display: flex;
        justify-content: start;
        padding: 20px 0;
        color: #6DB3EE;
        p {
          margin: 0 5px;
        }
      }
    } 
  }
}

